.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .newbtncss {
    margin-left : 42.5%;
}
.THIS .pageheadercss {
    padding-top: 9px;
    padding-bottom: 9px; 
    padding-right: 9px;
    padding-left: 10px;
}
.THIS .newlabelwidth{
    width : 65%;
}
.THIS .listgapcss{
	padding-top:20px;
}
.THIS .divwidth{
    width : 100%;
}
.THIS .dropdownposition{
    margin-left : 18%;
}
.THIS{
    backgroud-color: #fff;
}